<div id="<%= dom_id student_story %>">
  <p>
    <strong>Title:</strong>
    <%= student_story.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= student_story.text %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= student_story.date %>
  </p>

</div>
