<h1>Editing student story</h1>

<%= render "form", student_story: @student_story %>

<br>

<div>
  <%= link_to "Show this student story", @student_story %> |
  <%= link_to "Back to student stories", student_stories_path %>
</div>
