<p style="color: green"><%= notice %></p>

<h1>Student stories</h1>

<div id="student_stories">
  <% @student_stories.each do |student_story| %>
    <%= render student_story %>
    <p>
      <%= link_to "Show this student story", student_story %>
    </p>
  <% end %>
</div>

<%= link_to "New student story", new_student_story_path %>
